/*
Geral
*/

body{
 margin: 0;
 font-family: "Arial", sans-serif;
 color: #4d4d4d;
}

h1, h2, h3{
 margin: 0;
 font-family: "Arial", sans-serif;
 font-weight: 700;
}

.botao {
    color: #4d4d4d;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #f1f1f1;
    font-size: .9em;
    border-radius: 3px;
}


nav{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #F08080;
 border-radius: 2px

}
/* links*/

nav > a{
 text-decoration: none;
 color: #f1f1f1;
 font-weight: 700;
 font-size: 28px;
 font-family: Pacifico, serif;

}

.link{

}
/*Cabeçalho*/

nav ul{

 list-style: none;
 padding: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;

}

nav ul li{
 text-align: center;
 width: 18%;

}
/* letra do menu*/
nav ul li a{
 display: inline-block;
 padding: 5px 0;
 width: 100%;
 text-decoration: none;
 color: #f1f1f1;
}

nav ul li:hover{
 background: #CD5C5C ;

}

/* icone das redes sociais*/

selection{
 margin: 90px auto;
 width: 25px;
 height: 150px;
}

.rede:hover{
 cursor: pointer;
 transform: translateY(-20px);
 box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}

.rede{
 width: 50px;
 height: 50px;
 float: left;
 margin-left:5px;
 transition: all 0.4s ease-out;
 border-radius: 80%
}
.rede#facebook{
background-color: #2372a3;
}
.rede#twitter{
background-color: #0084b4;
}

.rede#instagram{
background-color: #3f729b;
}

.rede#plus{
background-color: #dd4b39;
}

.icone{
 margin: 0px auto;
 padding: 10px;
 width: 30px;

}

/* estilo do Cabeçalho*/

header{
 background-image: url('img/fundo.png');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 color: #f1f1f1;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 padding: 30px;
}

header p {
 margin-bottom: 2em;
}

/*Inicio*/
#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: black;
    color: white;
}
#inicio p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#inicio{
 background-color: #F08080;
 color: #f1f1f1

}

/*Documentário*/
#documentario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: black;
    color: white;
}
#documentario p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#documentario{
 background-color: #3A2D32;
 color: #f1f1f1

}

/*
prevenção
*/
#prevencao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: black;
    color: #f1f1f1;
}

#prevencao p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#prevencao{
 background-color: #DBB4AD;
 color: #f1f1f1
}
#prevencao.botao {
    background-color: #f1f1f1;
    color: #4d4d4d;
}

/*
sobre
*/
#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #A2AD91;
    color: #f1f1f1;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre.botao {
    background-color: #f1f1f1;
    color: #4d4d4d;
}
/*
CONTATO
*/

form{
 font-size: 20px;
 background:white;
 max-width: 500px;
 margin: 20 auto;
 padding: 40px;
 color: black;

}

input, textarea{
 width:470px;
 padding: 10px;
}

.enviar input{
 background:#696969;
  height: 40px;
  width: 150px;
  font-height: bold;
  border-radius: 5px;
  border: 1px solid;
  color: white;
  cursor: pointer;
  
}

.envaiar input:hover{
 background: #078;

}

textarea{
 width:470px;
 height: 120px;
 line-height: 20px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}


/*
FOOTER
*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #3A2D32;
    color: #f1f1f1;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    
    /*
    CABEÇALHO
    */
    
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
/*
   inicio
    */
    
#inicio {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
/*
    Documentarios
    */

#documentario {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
 /*
    Prevenção
    */
    
    #prevencao {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    /*
    SOBRE
    */
    
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

 /*
    CONTATO
    */
    
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    
    #contato h2,h3
    #contato p {
        width: 100%;
    }
    
}


































